:root {
  --colorPrincipal: #006c78;
}

.bg-custom {
  background-color: var(--colorPrincipal)!important;
}
.color-custom {
  color: var(--colorPrincipal);
}

img {
  max-width: 100%;
}

span {
  color: var(--colorPrincipal);
}
.boton{
    font-size: 2rem!important;
    color: white!important;
    border: 2px solid black!important;
}

.m0{
  margin: 0px;
padding: 0 0 2px 5px;
}

a {
  font-size: 1.1rem!important;
}


.cartaBorde{
    padding: 0!important;
}

.reveal {
    z-index: -10;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }

li a:is(:link, :active, :visited){
  color: white!important;
}

li a:is(:link, :active, :visited).active{
 background-color: white;
 color: black!important;
 border-radius: 1em;
 font-weight: bold!important;
}

.z{
  z-index: 999999;
}